body {
    background-image: url('images/cloud.jpg');
}

#notification {
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
}

.notification {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 37px;
}

.center {
    width: 100%;
    /*height: 655px;*/
}

#header_t {
    width: 100%;
}

#header_t h1 {
    text-align: center;
    border: 4px solid black;
}

.games {
    width: 80%;
    background-color: black;
    opacity: 0.8;
    color: white;
    position: relative;
    left: 10%;
}

.game {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid white;
}

.span2 {
    width: 5%;
    height: 60px;
}

.footer {
    /*background-color: lightblue;*/
    width: 100%;
    height: 50px;
    position: relative;
    top: 50%;
    margin: 80px 0px 0px 0px;
}

.footer button {
    width: 7%;
    height: 50px;
    margin: 0px 0px 0px 0px;
}

.game:hover {
    border: 5px solid gray;
}

#back {
    float: left;
}

#signOut {
    float: right;
}