body {
    background-image: url('images/cloud.jpg');
}

#notification {
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
}

.notification {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 37px;
}

.center {
    width: 100%;
    /*height: 655px;*/
}

#header_t {
    width: 100%;
}

#header_t h1 {
    text-align: center;
}

.tournaments {
    width: 80%;
    background-color: black;
    opacity: 0.8;
    color: white;
    position: relative;
    left: 10%;
}

.tournament {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid white;
}

.span2 {
    width: 5%;
    height: 60px;
}

.span2 button {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px 0px 0px -20px;
}

#addTournament {
    width: 10%;
    height: 50px;
    text-shadow: 1cm;
    font-weight: bold;
    background-color: goldenrod;
    position: relative;
    left: 45%;
}

.footer {
    /*background-color: lightblue;*/
    width: 100%;
    height: 50px;
    position: relative;
    top: 50%;
    margin: 80px 0px 0px 0px;
}

.footer button {
    width: 7%;
    height: 50px;
    margin: 0px 0px 0px 0px;
}

#back {
    float: left;
}

#signOut {
    float: right;
}